header {
    .header {
        .dropdown.compare {
            .action:before {
                .lib-css(content, @icon-compare);
            }

            .dialog {
                .item {
                    padding: 0 25px 10px 0;
                    border-width: 0 0 1px 0;
                    .lib-font-size(16px);

                    .name {
                        margin: 0;
                        .lib-link-reverse(@color-gray20);
                    }

                    .remove:before {
                        top: 0;
                        right: 0;
                        .lib-font-size(@font-size__l);
                    }
                }

                .actions {
                    .lib-css(justify-content, space-between, 1);

                    .clear {
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}

main {
    .sidebar {
        .block.compare {
            h3 {
                display: none;
            }

            .item {
                display: block;
                margin: 0 20px 16px 0;
                padding: 0;
                border: 0;

                .name {
                    .lib-css(color, @color-gray);
                    .lib-css(font-weight, @font-weight__bold);
                }

                .remove {
                    position: absolute;
                    margin: 1px 0 0 5px;

                    &:before {
                        margin: 0;
                        width: 23px;
                        .lib-line-height(23px);
                        .lib-font-size(23px);
                    }
                }
            }

            .actions {
                .lib-css(align-items, center, 1);
                .lib-vendor-prefix-display();

                .clear {
                    margin-left: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }

    .product-list {
        margin: 0 -25px -50px -25px;
        .lib-vendor-prefix-display();
        .lib-vendor-prefix-flex-wrap();

        .item {
            padding: 0 25px 0 25px;
            margin-bottom: 50px;
            width: 33.33333%;

            .wrapper {
                border: 1px solid #e4e4e5;
                padding: 46px 27px 26px;
                text-align: center;
                height: 100%;

                .image {
                    display: block;
                }
                img {
                    max-width: 100%;
                }

                .name {
                    margin-top: 36px;
                    text-transform: uppercase;
                    .lib-font-size(16px);
                    .lib-line-height(1.1);
                    .lib-css(font-weight, @font-weight__heavybold);

                    a {
                        .lib-link-reverse(@color-gray20);
                    }
                }

                .description {
                    margin-top: 10px;
                }

                .add-to {
                    .lib-vendor-prefix-display();
                    .lib-css(justify-content, center, 1);

                    a {
                        margin: 21px 11px 18px 0;
                        position: relative;
                        left: -3px;
                        .lib-link-reverse();
                        .lib-font-size(34px);
                        .lib-line-height(1em);
                        .lib-css(font-family, @icons__font-name);

                        &.compare {
                            &:before {
                                .lib-css(content, @icon-compare);
                            }
                        }

                        &.in-list {
                            .lib-css(color, @color-blue);
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .@{layout-class-1column} & {
                width: 100%/4;
            }
            .@{layout-class-3columns} & {
                width: 100%/2;
            }
        }
    }
}

.catalog-category-view {
    .page-title {
        text-align: left;
        margin-top: -2px;
        .lib-font-size(44px);
    }

    .category-description {
        margin-bottom: 25px;
    }
}
