<div class="preloader" if="data().items.length">
    <each args="getRegion('toolbar')" render="" />

    <div class="product-list" each="data: data().items">
        <div class="item preloader" data-bind="mageInit: {loader: {}}">
            <div class="wrapper">
                <a class="image" data-bind="attr: {href: url, title: name}">
                    <img data-bind="attr: {src: image.src, alt: image.alt}" />
                </a>
                <div class="name">
                    <a data-bind="text: name, attr: {href: url}"></a>
                </div>
                <div class="description" data-bind="html: description" if="description"></div>

                <each args="$parent.getRegion('addToCart')" render="" />
                <each args="$parent.getRegion('ratingSummary')" render="" />
                <div class="add-to">
                    <each args="$parent.getRegion('addToWishlist')" render="" />
                    <each args="$parent.getRegion('addToCompare')" render="" />
                </div>
            </div>
        </div>
    </div>

    <each args="getRegion('pager')" render="" />
    <div class="loading-mask" visible="isLoading()"></div>
</div>

<ifnot args="data().items.length">
    <translate args="'We can\'t find products matching the selection.'" />
</ifnot>
