// Common styles
& when (@media-common = true) {
    main {
        .product-list {
            .item {
                .wrapper {
                    .details {
                        .rating-summary {
                            margin: 22px 0 1px 0;
                            .lib-css(justify-content, center, 1);

                            .links {
                                a {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &.list {
                .item {
                    .wrapper {
                        .details {
                            .rating-summary {
                                margin-top: 20px;
                                .lib-css(justify-content, start, 1);

                                .links {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .catalog-product-view {
        .product-info {
            .rating-summary {
                margin: -1px 0 18px 0;
            }
        }
    }
}
