.navigation {
    .lib-css(background, @navigation-desktop__background);

    .menu {
        overflow: hidden;
        .lib-vendor-prefix-display();
        .lib-vendor-prefix-flex-grow(1);

        > ul {
            .lib-vendor-prefix-display();

            .divider {
                width: 1px;
                padding: 0;
                margin: 22px 30px;
                .lib-css(background, @navigation-desktop-level0-item__color);

                &:last-child {
                    display: none;
                }
            }

            > li {
                .lib-css(padding, @navigation-desktop-level0-item__padding);
                .lib-vendor-prefix-display();

                > a {
                    white-space: nowrap;
                    text-transform: uppercase;
                    .lib-css(color, @navigation-desktop-level0-item__color);
                    .lib-css(font-weight, @font-weight__heavybold);
                    .lib-font-size(16px);
                    .lib-vendor-prefix-display();

                    &.ui-state-focus,
                    &.ui-state-active {
                        .lib-css(color, @navigation-desktop-level0-item__hover__color);
                    }
                }

                &.parent {
                    > a {
                        &:after {
                            content: '\f107';
                            font-family: 'FontAwesome';
                            width: 20px;
                            text-align: center;
                            .lib-css(font-weight, @font-weight__regular);
                            .lib-css(color, @navigation-desktop-level0-item__color);
                            .lib-line-height(22px);
                        }
                    }
                }

                &.active,
                &.has-active {
                    > a {
                        .lib-css(color, @navigation-desktop-level0-item__active__color);
                    }
                }

                > ul {
                    display: none;
                    position: absolute;
                    .lib-css(background, @submenu-desktop__background);
                    .lib-css(padding, @submenu-desktop__padding);

                    li {
                        margin-bottom: 15px;

                        a {
                            white-space: nowrap;
                            position: relative;
                            .lib-css(color, @submenu-desktop-item__color);
                            .lib-css(padding, @submenu-desktop-item__padding);

                            &:before {
                                position: absolute;
                                left: 0;
                                width: 19px;
                                text-align: center;
                                margin-top: 1px;
                                .lib-css(transition, left 0.2s ease-in-out 0s, 1);
                                .lib-css(content, @icon-chevron-right);
                                .lib-css(font-family, @icons__font-name);
                                .lib-css(background, @color-white);
                                .lib-css(color, @color-blue);
                                .lib-line-height(19px);
                                .lib-font-size(16px);
                            }

                            &:hover {
                                .lib-css(color, @submenu-desktop-item__hover__color);

                                &:before {
                                    left: 4px;
                                }
                            }
                        }

                        &.active,
                        &.has-active {
                            a {
                                .lib-css(color, @submenu-desktop-item__active__color);
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
