//
//  Breadcrumbs
//  ---------------------------------------------
@breadcrumbs__container-margin: 0 0 33px;
@breadcrumbs__padding: 9px 0 13px;
@breadcrumbs-separator__symbol: '|';
@breadcrumbs-link__color: @text__color;
@breadcrumbs-link__hover__color: @color-blue;
@breadcrumbs-current__color: @color-blue;

//
//  Buttons
//  ---------------------------------------------
@button__font-size: 16px;
@button__font-weight: @font-weight__heavybold;
@button__line-height: 54px;
@button__padding: 0 28px;
@button__color: @color-gray;
@button__background: @color-white;
@button__border: 2px solid @color-gray;
@button__hover__color: @color-white;
@button__hover__background: @color-gray;

//
//  Colors
//  ---------------------------------------------
@error__color: #eb340a;

//
//  Forms
//  ---------------------------------------------
@input-text__background: #f3f3f3;
@input-text__border: 0;
@input-text__color: @text__color;
@input-text-placeholder__color: #909090;
@input-text-validation__background-error: #523a3a;
@form-validation-note__padding: 0 3px;

//
//  Icons
//  ---------------------------------------------
@icons__font-name: 'Material Icons';

//
//  Layout
//  ---------------------------------------------
@layout__max-width: 1404px;
@layout-indent__width: 25px;

//
//  Loaders
//  ---------------------------------------------
@loading__background-color: @color-white;
@loading__background-image: url('@{baseDir}images/loader.gif');

//
//  Navigation
//  ---------------------------------------------
@navigation-desktop__background: @color-gray;
@navigation-desktop-level0-item__padding: 22px 0;
@navigation-desktop-level0-item__color: @color-white;
@navigation-desktop-level0-item__hover__color: @color-blue;
@submenu-desktop__background: #f3f3f3;
@submenu-desktop__padding: 45px 50px;
@submenu-desktop-item__color: @color-gray;
@submenu-desktop-item__padding: 0 0 0 33px;
@submenu-desktop-item__active__color: @navigation-desktop-level0-item__active__color;

//
//  Typography
//  ---------------------------------------------
@text__color: #959494;
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-size-unit-convert: false;
@line-height__base: 1.5;
@link__color: @color-blue;
@link__hover__color: @color-gray;

//
//  Utilities
//  ---------------------------------------------
@urls-resolved: true;
