//
//  Buttons
//  ---------------------------------------------
@button__font-size: 16px;
@button__font-weight: @font-weight__heavybold;
@button__line-height: 54px;
@button__padding: 0 28px;
@button__color: @color-gray;
@button__background: @color-white;
@button__border: 2px solid @color-gray;
@button__hover__color: @color-white;
@button__hover__background: @color-gray;

//
//  Icons
//  ---------------------------------------------
@icons__font-name: 'Material Icons';

//
//  Layout
//  ---------------------------------------------
@layout__max-width: 1404px;
@layout-indent__width: 25px;

//
//  Typography
//  ---------------------------------------------
@text__color: #959494;
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-size-unit-convert: false;
@line-height__base: 1.5;
@link__color: @color-blue;
@link__hover__color: @color-gray;
