//
//  Layout
//  ---------------------------------------------
@layout__max-width: 1404px;
@layout-indent__width: 25px;

//
//  Typography
//  ---------------------------------------------
@text__color: #959494;
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-size-unit-convert: false;
@line-height__base: 1.5;
@link__color: #3c7bee;
@link__hover__color: #282828;
