//
//  Icons
//  ---------------------------------------------
@icon-chevron-right: '\e5cc';
@icon-compare: '\e3b9';
@icon-favorite-border: '\e87e';
@icon-keyboard-arrow-down: '\e313';

//
//  Typography
//  ---------------------------------------------
@font-weight__heavybold: 800;

//
//  Colors
//  ---------------------------------------------
@color-blue: #3c7bee;
@color-gray: #282828;
