//
//  Colors
//  ---------------------------------------------
@color-blue: #3c7bee;
@color-gray: #282828;

//
//  Forms
//  ---------------------------------------------
@form-validation-note__border: 1px solid #ddd;
@form-validation-note__background: @color-white;
@input-text-placeholder__focus__opacity: .3;

//
//  Icons
//  ---------------------------------------------
@icon-cancel: '\e5c9';
@icon-chevron-right: '\e5cc';
@icon-close: '\e5cd';
@icon-compare: '\e3b9';
@icon-expand-more: '\e5cf';
@icon-favorite-border: '\e87e';
@icon-keyboard-arrow-down: '\e313';
@icon-search: '\e8b6';
@icon-shopping-cart: '\e8cc';
@icon-lock: '\e897';
@icon-mode-edit: '\e254';

//
//  Loaders
//  ---------------------------------------------
@loading__background-position: @loader-icon__background-position;
@loading__z-index: 5;
@loading__opacity: .8;

//
//  Typography
//  ---------------------------------------------
@font-weight__heavybold: 800;
