//
//  Icons
//  ---------------------------------------------
@icon-chevron-right: '\e5cc';
@icon-expand-more: '\e5cf';
@icon-cancel: '\e5c9';
@icon-close: '\e5cd';
@icon-compare: '\e3b9';
@icon-favorite-border: '\e87e';
@icon-keyboard-arrow-down: '\e313';
@icon-shopping-cart: '\e8cc';
@icon-lock: '\e897';
@icon-mode-edit: '\e254';

//
//  Typography
//  ---------------------------------------------
@font-weight__heavybold: 800;

//
//  Colors
//  ---------------------------------------------
@color-blue: #3c7bee;
@color-gray: #282828;
